@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }
    

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    @media (max-width: 900px) {
        .company-info {
          width: 100%;
          margin-right: 0rem;
          margin-left: 1rem;
        }
        @media(max-width:320px){
            .company-info p{
              margin-right: 0rem;
            }